Repository src-d/style-analyzer, pull requests merged in 2019-02, with the labels that each got.

#622 Fix evaluate_smoke.calc_metrics() parameters type
  lookout/style/format/benchmarks/evaluate_smoke.py
Labels: format

#614 Handle exceptions from CodeGenerator
  lookout/style/format/analyzer.py
Labels: format

#623 Refactor typos columns naming
  lookout/style/typos/analyzer.py
  lookout/style/typos/corrector.py
  lookout/style/typos/generation.py
  lookout/style/typos/ranking.py
  lookout/style/typos/research/__main__.py
  lookout/style/typos/research/nn_prediction.py
  lookout/style/typos/tests/raw_test_data.csv.xz
  lookout/style/typos/tests/test_add_context_info.csv.xz
  lookout/style/typos/tests/test_analyzer.py
  lookout/style/typos/tests/test_corrector.py
  lookout/style/typos/tests/test_corrector_utils.py
  lookout/style/typos/tests/test_data.csv.xz
  lookout/style/typos/tests/test_data_candidates.csv.xz
  lookout/style/typos/tests/test_data_candidates_full.pkl
  lookout/style/typos/tests/test_data_candidates_suggestions_df.csv.xz
  lookout/style/typos/tests/test_data_candidates_suggestions_flat_df.csv.xz
  lookout/style/typos/tests/test_flatten_data.csv.xz
  lookout/style/typos/tests/test_generation.py
  lookout/style/typos/tests/test_ranking.py
  lookout/style/typos/utils.py
Labels: typos

#621 Use CodeGenerator in uast check
  lookout/style/format/analyzer.py
  lookout/style/format/benchmarks/quality_report_noisy.py
  lookout/style/format/code_generator.py
  lookout/style/format/postprocess.py
  lookout/style/format/tests/test_uast_stability_checker.py
  lookout/style/format/uast_stability_checker.py
  lookout/style/format/visualizer/server.py
Labels: format

#624 Refactor corrector
  lookout/style/typos/corrector.py
  lookout/style/typos/generation.py
  lookout/style/typos/research/README.md
  lookout/style/typos/tests/test_corrector.py
  lookout/style/typos/tests/test_corrector_utils.py
  lookout/style/typos/tests/test_data_candidates_filtered_suggestions.pickle
  lookout/style/typos/tests/test_data_candidates_full.csv.xz
  lookout/style/typos/tests/test_data_candidates_full.pkl
  lookout/style/typos/tests/test_data_candidates_proba.pickle
  lookout/style/typos/tests/test_data_candidates_suggestions.pickle
  lookout/style/typos/tests/test_ranking.py
  lookout/style/typos/utils.py
  setup.py
Labels: typos

#625 Remove unused function and file in typos
  lookout/style/typos/16k_vocabulary.csv
  lookout/style/typos/research/nn_prediction.py
  lookout/style/typos/utils.py
Labels: typos

#619 Port to sourced-ml 0.8
  Dockerfile
  lookout/style/format/analyzer.py
  lookout/style/format/benchmarks/quality_report_noisy.py
  lookout/style/format/cmdline_tools.py
  lookout/style/format/files_filtering.py
  lookout/style/format/model.py
  lookout/style/format/tests/test_main.py
  lookout/style/format/tests/test_model.py
  lookout/style/format/utils.py
  lookout/style/typos/corrector.py
  lookout/style/typos/generation.py
  lookout/style/typos/ranking.py
  lookout/style/typos/tests/test_ranking.py
  requirements.txt
  setup.py
Labels: format, typos

#626 Fix mistakes and style in docs
  lookout/style/typos/analyzer.py
  lookout/style/typos/corrector.py
  lookout/style/typos/corrector_manager.py
  lookout/style/typos/generation.py
  lookout/style/typos/ranking.py
  lookout/style/typos/utils.py
  requirements.txt
  setup.py
Labels: typos

#630 Add filter_splits preprocesing function
  lookout/style/typos/preprocessing.py
  lookout/style/typos/tests/test_preprocessing.py
Labels: typos

#616 Change add_context_info method in typos
  lookout/style/typos/corrector.py
  lookout/style/typos/generation.py
  lookout/style/typos/ranking.py
  lookout/style/typos/tests/test_add_context_info.csv.xz
  lookout/style/typos/tests/test_corrector.py
  lookout/style/typos/tests/test_corrector_utils.py
  lookout/style/typos/utils.py
Labels: typos

#617 Remove lzma compression support from corrector model
  lookout/style/typos/research/dev_utils.py
  lookout/style/typos/symspell.py
  lookout/style/typos/tests/test_corrector_utils.py
  lookout/style/typos/utils.py
Labels: typos

#629 Add print_frequencies function
  lookout/style/typos/preprocessing.py
  lookout/style/typos/research/create_typos.py
  lookout/style/typos/symspell.py
  lookout/style/typos/tests/test_frequencies.csv.xz
  lookout/style/typos/tests/test_preprocessing.py
  lookout/style/typos/utils.py
Labels: typos

#638 Add functions for creating artificial typos
  lookout/style/typos/corruption.py
  lookout/style/typos/tests/test_corruption.py
Labels: typos

#644 Add Optional[] to all functions' arguments with None as default
  lookout/style/typos/corrector.py
  lookout/style/typos/generation.py
  lookout/style/typos/ranking.py
  lookout/style/typos/utils.py
Labels: typos

#646 Remove unused filter_suggestions()
  lookout/style/typos/tests/test_corrector_utils.py
  lookout/style/typos/utils.py
Labels: typos

#648 Remove flatten_data function from typos utils
  lookout/style/typos/analyzer.py
  lookout/style/typos/tests/test_corrector_utils.py
  lookout/style/typos/utils.py
Labels: typos

#618 Add metrics to typos
  lookout/style/common.py
  lookout/style/format/__init__.py
  lookout/style/format/benchmarks/general_report.py
  lookout/style/typos/corrector.py
  lookout/style/typos/metrics.py
  lookout/style/typos/templates/scores.md.jinja2
  lookout/style/typos/tests/test_metrics.py
  setup.py
Labels: typos

#649 Add prepare_data function and tests
  lookout/style/typos/datasets_preparation.py
  lookout/style/typos/preprocessing.py
  lookout/style/typos/tests/test_datasets_preparation.py
  lookout/style/typos/tests/test_preprocessing.py
  lookout/style/typos/utils.py
Labels: typos

#591 Refresh the noisy quality report generation according to the paper rush decisions
  lookout/style/format/benchmarks/quality_report_noisy.py
  lookout/style/format/cmdline_tools.py
  lookout/style/format/templates/noisy_quality_report.md.jinja2
  lookout/style/format/tests/test_quality_report_noisy.py
Labels: format
